.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14rem;
  height: 20rem;
}

.image {
  width: 100%;
  height: 74%;
  border-radius: 0.8rem;
  object-fit: cover;
  padding-bottom: 0.5rem;
}
.description {
  color: var(--Secondary-800);
  font-size: 0.875rem;
  font-weight: var(--font-weight-small);
  word-break: keep-all;
  width: 100%;
  /* height: 1.7rem; */
  /* line-height: 1.7rem; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price {
  color: var(--Secondary-800);
  font-size: 1rem;
  font-weight: var(--font-weight-big);
  width: 100%;
  /* height: 1.7rem; */
  /* line-height: 1.7rem; */
  /* margin-bottom: 0.2rem; */
}

.favoriteCount {
  display: flex;
  align-items: center;
  width: 100%;
  /* height: 1rem; */
  /* line-height: 1rem; */
  color: var(--Secondary-600);

  & p {
    font-size: 0.75rem;
    font-weight: var(--font-weight-small);
  }

  & svg {
    font-size: 1rem;
    margin-right: 0.3rem;
  }
}
/* 베스트 상품 스타일 */
.best {
  width: 17.6rem;
  height: 23.6rem;
}
